section {
  padding-top: 100px;
}
.First {
  padding-top: 0;
}
.Hero {
  display: flex;
  box-sizing: border-box;
  /* justify-content: center; */
}
.SearchBar {
  flex: 2;
}
.SearchBar form {
  float: right;
}
