.Tooltip {
  width: 250px;
  padding: 2rem;
  background: #efefef;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 8px #5e5c5c;
  position: absolute;
  top: 250%;
  left: -90%;
  transition: all 0.5s ease-out;
  z-index: 500;
}
.Close {
  opacity: 0;
}
.Open {
  opacity: 1;
}
.Tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #efefef transparent;
}
@media (max-width: 800px) and (min-width: 500px) {
  .Tooltip {
    left: -250px;
  }
  .Tooltip::after {
    left: 113%;
  }
}
@media (max-width: 499px) {
  .Tooltip {
    position: fixed;
    width: 60%;
    top: 10%;
    left: 10%;
  }
  .Tooltip::after {
    display: none;
  }
}
