section {
  padding-top: 100px;
}
.First {
  padding-top: 0;
}
.Hero {
  display: flex;
  box-sizing: border-box;
  /* justify-content: center; */
}
.CategoryFilter {
  align-items: flex-end;
  display: flex;
  flex-flow: column;
}
.CategoryFilter form {
  width: auto;
  padding-right: 30px;
}
