.Header {
  padding: 20px 0px;
  display: flex;
  position: relative;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.Fixed {
  position: fixed;
  width: 100%;
  background: #fff;
}
.MobileOnly {
  display: none;
}
@media (max-width: 800px) {
  .DesktopOnly {
    display: none;
  }
  .MobileOnly {
    display: flex;
    align-items: center;
  }
}
