.Input {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.Input input,
.Input select,
textarea {
  width: 80%;
  padding: 6px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.Input:focus {
  outline: none;
}
textarea {
  margin-top: 20px;
}
@media (max-width: 800px) {
  .Input input,
  .Input select,
  textarea {
    width: 100%;
  }
}
