.Main {
  flex: 1;
  margin: 0 auto;
  padding-top: 150px;
  width: 90%;
  overflow: hidden;
}
.Layout {
  z-index: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
@media (max-width: 800px) {
  .Main {
    padding-top: 120px;
  }
}
