.ErrorMsg {
  color: red;
}

.Input,
.Textarea,
.SearchInput {
  width: 80%;
  padding: 6px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.Input,
.Textarea,
.SearchInput {
  outline: none;
}
.SearchInput {
  width: auto;
  padding-right: 30px;
}
.SearchBar {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px;
}
.SearchBar input {
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
}
.SearchBar input:focus {
  outline: none;
  border: 1px solid #e99e13;
}
.SearchBar button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 28%;
  opacity: 0.5;
  font-size: 18px;
}
.SearchBar button:hover {
  color: #e99e13;
  opacity: 1;
  transition: all 0.5s ease-out;
}
@media (max-width: 499px) {
  .SearchBar {
    display: none;
  }
}
